<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- uprawnienie do otrzymywania BOOT_COMPLETED -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeBudget"
        tools:targetApi="31">

        <!-- Receivery -->
        <receiver android:name=".notifications.receiver.BillsNotificationReceiver"
            android:exported="true"/>
        <receiver android:name=".notifications.receiver.SavingsGoalNotificationReceiver"
            android:exported="false"/>
        <receiver android:name=".notifications.receiver.DashboardBudgetNotificationReceiver"
            android:exported="false"/>

        <!-- BootReceiver: wymaga permission, dodaj też permission na poziomie manifestu -->
        <receiver android:name=".notifications.receiver.BootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.statistics.StatisticsActivity"/>
        <activity android:name=".ui.settings.SettingsActivity"/>
        <activity android:name=".ui.billsplanner.AddBillActivity" android:exported="false"/>
        <activity android:name=".ui.billsplanner.BillsPlannerActivity" android:exported="false"/>
        <activity android:name=".ui.savings.SavingsActivity"/>
        <activity android:name=".ui.history.HistoryActivity"/>
        <activity android:name=".ui.auth.TermsActivity"/>
        <activity android:name=".ui.addexpense.AddExpenseActivity"/>
        <activity android:name=".ui.dashboard.DashboardActivity"/>
        <activity android:name=".ui.auth.ResetPasswordActivity"/>
        <activity android:name=".ui.auth.RegisterActivity"/>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>